:root {
    --main-color: #7F0D45;
    --dark-color: rgb(19, 20, 20);
    --white-color:#f7f3f3;
}

* {
    box-sizing:border-box;
}




body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;

    position: relative;
}

#side-bar,
#navigation-bar,
#main-content {
    padding: 20px 20px;
}

#grid-container {
    display: grid;
    grid-template-columns: 300px 4fr;
    position: relative;
    height: 100vh;
    width: 100vw;
}


/* SIDEBAR */

#side-bar {
    display: grid;
    background-color: var(--main-color);
    color: var(--white-color);
    grid-template-rows: 1fr 4fr 2fr 5fr; 
    justify-items:start;
    gap:100px;
    position: fixed;
}

#fixed-sidebar{
    background-color: var(--main-color);
}

#logo-div, 
#navigation-pane,
#accessory-pane {
    display: grid;
    grid-template-columns: 70px 100px;
    grid-auto-rows: auto;
    row-gap: 5px;
    place-items:center;
    grid-template-rows: auto;
}

#navigation-pane {
    padding-top: 6px;
}

#logo-div > .icon-description {
    font-size: 35px;
    margin-left: -3px;
}

#logo-div {
    padding-bottom: 15px;
    padding-top:5px
}



.icon-description {
    justify-self:start;
    align-self: center;
    font-size: 20px;
}

#dashboard-logo {
    height: 60px;
    width: 60px;
    padding-right: 5px;
}

svg {
    fill: var(--white-color);
    height: 30px;
    width: 30px;
}





/* MAIN */

#main {
    display: grid;
    grid-template-rows: 200px 6fr;
    color: var(--dark-color);
    position: relative;
    width: 100%;
}






/* NAVIGATION-BAR */

#navigation-bar {
    display: grid;
    grid-template-rows: repeat(2,1fr);
    gap: 5px;
    background-color: var(--white-color);   
    padding-left: 50px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.158);
    position: fixed;
    height: 200px;
    left:300px;
    right:0;
    margin-left:inherit;
    margin-right:inherit;
}

#fixed-navigation-bar {
    position: relative;

}


#navigation-bar-top-row,
#navigation-bar-bottom-row{
    display: grid;
    gap: 100px;
    grid-template-columns: minmax(440px,4fr) minmax(350px,1fr);
}

#search-bar-div,
#user-name-div,
#user-welcome-div {
    display: flex;
    align-items: center;
}

#buttons-div {
    display: grid;
    grid-template-columns: repeat(3,80px);
    justify-self:end;
    gap: 50px;
    padding-right: 20px;
    align-content: center;
}

#user-name-div {
    justify-self:end;
    display: grid;
    gap: 15px;
    grid-template-columns: 50px 50px 150px;
}


#user-welcome-div {
    display: flex;
    align-items: center;
    gap: 25px;
}

#user-welcome-message{
    display: grid;
    gap: 5px;
}


#message {
    font-size: 15px;
}

#user-name-message {
    font-size: 25px;
}

.user-avatar {
    height: 80px;
    width: 80px;
    border: 5px solid #e6b157;
    border-radius: 50%;
}

#user-name-div > .user-avatar {
    height: 45px;
    width: 45px;
    border: 2px solid #e6b157;
}

#user-name-top-right {
    font-size: 20px;
}


#main svg {
    fill: var(--dark-font);
    flex-shrink: 0;
}

input {
    flex: 2;
    height: 30px;
    max-width: 650px;
    min-width: 400px;
    border-radius: 15px;
    border: 1px solid silver;
    font-family: inherit;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.151);
}

button {
    background-color:var(--main-color);
    color: var(--white-color);
    font-family: inherit;
    font-weight: bold;
    width: 100px;
    height: 40px;
    border-radius: 25px;
    border: none;
}





/* MAIN-CONTENT */

#main-content {
    font-size: 20px;
    display: grid;
    grid-template-columns: 4fr 1fr;
    background-color: #e4bee762;
}

#cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-template-rows: repeat(auto-fit, 1fr);
    gap: 30px;
    min-width: 640px;
    padding: 30px;
    padding-left: 0px;
}

/* CARD-ITEM */

.card {
    display: grid;
    grid-template-rows: 6fr 1fr;
    border: 1px solid rgba(0, 0, 0, 0.233);
    background-color: var(--white-color);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.158);
    border-radius: 8px;
    border-left: 8px solid var(--main-color);
    padding: 40px 20px 10px 20px;
    text-align: justify;
}

.card-buttons-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
    justify-self: end;
}

.text {
    padding-top: 10px;
    color: rgba(51, 48, 48, 0.836);
    font-size: 75%;
    line-height: 1.2em;
    font-weight: lighter;
    line-height: 1.1em;
}


.star-icon {
    background-image: url(./images/star-plus-outline.svg);
    background-repeat: no-repeat;
    padding: 5px;
}

.eye-icon {
    background-image: url(./images/eye-plus-outline.svg);
    background-repeat: no-repeat;
    
}

.fork-icon {
    background-image: url(./images/source-fork.svg);
    background-repeat: no-repeat;
}

pre {
    margin: 0;
    display: inline;
}

a {
    text-decoration: none;
}


.section-title{
    padding-left: 20px;
}




/* ANNOUNCEMENTS */

#news-bar {
    display: grid;
    grid-template-rows: 0.75fr 1fr;
    padding-right: 20px;
}

#announcements-box{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    gap: 10px;
    border: 1px solid rgba(0, 0, 0, 0.233);
    background-color: var(--white-color);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.158);
    padding: 20px;
    padding-bottom: 0px;
    border: 1px solid rgba(0, 0, 0, 0.233);
    border-radius: 8px;
    height: 100%;
    min-height: 300px;
}

#announcements-container{
    padding-top: 30px;
    min-width: 300px;
    max-width: 500px;
    height: 80%;
}



.ann-title {
    font-size: 0.8em;
    padding-bottom: 5px;
}



.ann-text {
    font-size: 0.65em;
    line-break: ;
    font-weight: lighter;
    overflow: hidden;
    line-height: 1em;
    height: 3em;
    color: rgba(51, 48, 48, 0.836);
    text-align: justify;
    text-overflow:ellipsis;
    overflow:hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
    background-color: var(--white-color);
}


.announcement {
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.158);
    padding-bottom: 20px;
    height: fit-content;
}

.announcement:last-child {
    box-shadow: none;
}

/* TRENDING */

#trending-box{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    gap: 10px;
    border: 1px solid rgba(0, 0, 0, 0.233);
    background-color: var(--white-color);
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.233);
    border-radius: 8px;
    height: 90%;
}

#trending .section-title {
    padding-top: 20px;
    padding-bottom: 30px;
}

.trending {
    height: 25%;
    gap:10px;
    display: grid;
    grid-template-columns: 1fr 1.8fr;
    max-width: 400px;
}

.trending-user{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.user-tag{
    font-size: 0.8em;
}

.project-name {
    font-size: 0.7em;
    font-weight: lighter;
    color: rgba(51, 48, 48, 0.836);
}